{% extends "_base.html" %}

{% block content %}
<div class="top-bar">
    <div class="wrapper">
        <a href="./" class="top-bar__logo">Orgpedia</a>
        <form action="" class="top-bar__search"><input type="text"><input type="submit" value="search"></form>
        <nav class="top-bar__menu">
            <a href="#" class="button button--small">API</a>
            <a href="#" class="button button--small">About</a>
        </nav>
    </div>
</div>

<div class="breadcrumbs">
    <a href="../">Home</a><i class="material-icons">keyboard_arrow_right</i><span>{{title}}</span>
</div>

<header class="company-header page-section">
    <div class="left-panel">
        <h1 class="company-header__name">{{title}}</h1>
        <div class="company-header__info">
            <div class="company-header__info__key">
                <p>Type</p>
                <p>Industry</p>
            </div>
            <div class="company-header__info__value">
                <p>{{type}}</p>
                <p>{{industry}}</p>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <h3>Company Safety Score <i class="material-icons">info_outline</i></h3>
        <div class="safety-score safety-score--{% if risk_score < 35 %}high{% elif risk_score > 65 %}low{% else %}medium{% endif %}">
            <div class="safety-score__percentage">
                <h5>Risk Score</h5>
                <h1>{{risk_score}}<span>%</span></h1>
            </div>
            <h2>{# Risk Text inserted by CSS #}</h2>
            <h4>based on 9 reports from 3 worksites</h4>
        </div>
    </div>
</header>
<div class="company-extra-info">
    <p><i class="material-icons">add_circle_outline</i> more company information and subsidiaries</p>
    <div class="columns">
        <div class="column">
            <p>Trades as: {{extra.traded_as}}</p>
            <p>Founded: {{extra.founded}}</p>
            <p>Headquarters: {{extra.headquarters}}</p>
            {# key_people: ["Stuart Bradie, CEO (June 2014)", "Brian Ferraioli, CFO"]
            revenue: $7.2 billion (FY 2013)
            operating_income: $308 million (FY 2013)
            net_income: $75 million (FY 2013)
            total_assets: $5.4 billion (FY 2013)
            total_equity: $2.44 billion (FY 2013)
            number_of_employees: 27,000 (December 2013)
            website: http://kbr.com #}
        </div>
    </div>
</div>
<section id="sites" class="company-sites page-section">
    <h2>Sites <span class="button button--small sort" data-sort="score">Sort by Score</span></h2>
    
    <ul class="list">
    {% for i in sites %}
    <li class="company-sites__container">
        <article class="site-card site-card--{% if i.risk_score < 35 %}high{% elif i.risk_score > 65 %}low{% else %}medium{% endif %}">
            <h1 class="site-card__title">{{i.address}}</h1>
            <section>
                <h2>Site Safety Score</h2>
                <div class="safety-score safety-score--{% if i.risk_score < 35 %}high{% elif i.risk_score > 65 %}low{% else %}medium{% endif %}">
                    <div class="safety-score__percentage">
                        <h5>Risk Score</h5>
                        <h1 class="score">{{i.risk_score}}<span>%</span></h1>
                    </div>
                    <h2>{# Risk Text inserted by CSS #}</h2>
                    <h4>based on {{i.reports.length}} reports</h4>
                </div>
            </section>

            <section>
                <h2>Active Contractors <i class="material-icons">info_outline</i></h2>
                <p class="contractors-list">PM Contracting Company, Chester Contracting Corporation, Mamais Construction, Kerzner Contracting Corporation, VIK MGM Corp.,  TriState Contracting LLC, Fratello Construction</p>
            </section>
            
            <section>
                <h2>Safety Reports <i class="material-icons">info_outline</i></h2>
                <ul>
                    {% for r in i.reports %}
                    
                    <li class="safety-report safety-report--{%if $global.questions[r].status==true%}positive{%else%}negative{%endif%}">
                        <p class="safety-report__question">{{$global.questions[r].question}}</p>
                        <p class="safety-report__meta">100 Huron St, Brooklyn NY 11222 <span class="safety-report__time">10:15am 08.15.2016</span></p>
                    </li>
                    {% endfor %}
                </ul>
                <h3>see all reports</h3>
            </section>
        </article>
    </li>
    {% endfor %}
    </ul>

    <div class="company-sites__container">
        <article class="add-report">
            <i class="material-icons">add_circle_outline</i>
            <h2>Add Report</h2>

        </article>
    </div>
    
</section>


{% endblock %}
{% block scripts %}
{% block scripts %}
var options = {
  valueNames: [ 'score' ]
};

var myList = new List('sites', options);
{% endblock %}

{% endblock %}

