{% extends "_base.html" %}

{% block content %}
<div id="homepage">
    <section class="top-section">
        <div class="dark-panel hero-image">
            <hgroup class="centered">
                <h1 class="main-title">orgpedia</h1>
                <h2 class="tagline">The Crowdsourced Database of Workplace Safety</h2>
            </hgroup>
            
            <form action="/" class="main-search">
                <input class="search" placeholder="Search for a company or site, to see it's safety risk" type="text"><input type="submit" value="search">
            </form>
            <div class="company-list-controls">
                <button class="button button--small sort" data-sort="name">Sort by Name</button>
                <button class="button button--small sort" data-sort="score">Sort by Score</button>
                <button class="button button--small sort" data-sort="location">Sort by Location</button>
            </div>
        </div>
        <div class="about">
            <p>Are you looking to easily & anonymously report unsafe work conditions, find responsible contractors who take work safety seriously, or looking for information on companies and worksites that pose a risk to the public today?</p>
            <p>OrgPedia is a mobile phone-based early warning system that collects safety conditions from workers on sites - so that workers go home the way they came to work.</p>        
            <p>160 U.S. Workers Die Each Day From Hazardous Working Conditions. Many more suffer from deadly injuries that don’t get reported. Now there is a way to track safety conditions across construction sites, and know which companies who are doing what it takes to create safe work environments.</p>
            <a href="#" class="button button--small button--naked">Learn More</a>
            
        </div>

    </section>

    <section class="page-section">

    </section>
    <section class="page-section company-list">
        <ul class="list">
            {% for i in company %}
            <li>
                <a class="company-card company-card--risk-{% if i.risk_score < 35 %}high{% elif i.risk_score > 65 %}low{% else %}medium{% endif %}" href="./{{i.id}}-{{i.title | slug}}.html">
                    <h1 class="name">{{i.title}}</h1>
                    <div class="risk-label score">
                        <span>{{i.risk_score}}</span>
                        {# Content added by CSS Pseudo Elements #}
                    </div>
                    <section class="active-sites">
                        <p><span>{{i.sites.length}}</span> Active Sites</p>
                    </section>
                    <section class="company-card__location">
                        <p class="location">{{i.extra.headquarters}}</p>
                    </section>

                    <footer>Last Report: Jun, 30</footer>
                </a>
            </li>
            {% endfor %}    
        </ul>
        
        
    </section>
</div>


{% endblock %}


{% block scripts %}
var options = {
  valueNames: [ 'name', 'score', 'location' ]
};

var myList = new List('homepage', options);
{% endblock %}
