.company-list-controls {
  @extend .u-wrapper;
}

.company-list {
  @extend .u-wrapper;

  li {
    display: inline-block;
    width: calc(33.3% - 13px);
    margin-right: 15px;
    margin-bottom: 15px;
    &:nth-child(3n) { margin-right: 0; }
  }
}

$card-padding: 20px;

.company-card {
  display: block;
  border: 1px solid rgba($black, .2);
  @extend .u-transition;

  &:hover {
    box-shadow: 3px 3px 10px rgba($black, .2);
    @extend .u-transition;
  }

  h1 {
    padding: 10px 20px;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    background-color: rgba($black, .1);
  }

  &__location { 
    padding: 0 20px; 
    opacity: .6;
  }

  .active-sites {
    margin: $card-padding;

    p {
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px 0;
      letter-spacing: .3px;
    }

    span {
      display: inline-block;
      @include circle;
      background-color: $blue;
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 15px;
      margin-top: -12px;
      text-align: center;
      color: $white;
      font-weight: 100;
      font-size: 2rem;
    }
  }

  footer {
    margin: $card-padding;
    text-align: right;
    font-size: .8rem;
    font-style: italic;
    color: rgba($black, .5);
  }

  .risk-label {
    text-align: right;
    padding: 0;
    position: relative;

    > span {
      display: none;

    }
  }

  .risk-label:after {
    content: "Sample Risk";
    padding: 8px 15px;
    margin-right: -6px;
    color: $white;
    letter-spacing: .5px;
    background-color: rgba($black, .1);
    box-shadow: -2px 2px 4px rgba($black, .2);
  }


  .risk-label:before {
    content: "";
    position: absolute;
    right: -6px;
    bottom: -14px;
    height: 0;
    width: 0;
    border-left: 3px solid rgba($black, .3);
    border-top: 3px solid rgba($black, .3);
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
  }



  // Sets text and colors for the index cards
  &--risk-medium {
    border-color: $orange;

    h1 {
      color: $orange;
      background-color: rgba($orange, .1);
    }

    .risk-label:after {
      content: "Medium Risk";
      background-color: $orange;
    }

    .risk-label:before {
      border-left-color: darken($orange, 15);
      border-top-color: darken($orange, 15);
    }
  }

  &--risk-high {
    border-color: $red;

    h1 {
      color: $red;
      background-color: rgba($red, .1);
    }

    .risk-label:after {
      content: "High Risk";
      background-color: $red;
    }

    .risk-label:before {
      border-left-color: darken($red, 15);
      border-top-color: darken($red, 15);
    }

  }

  &--risk-low {
    border-color: $green;

    h1 {
      color: $green;
      background-color: rgba($green, .1);
    }

    .risk-label:after {
      content: "Low Risk";
      background-color: $green;
    }

    .risk-label:before {
      border-left-color: darken($green, 15);
      border-top-color: darken($green, 15);
    }
  }
}


