.columns {
  display: flex;

  > *:first-child { padding-left: 0; }
  > *:last-child { padding-right: 0; }

  .column {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
  }

  .column-fixed {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.column-4 { width: 32%; }

.wrapper {
  @extend .u-wrapper;
}

.centered { text-align: center; }

a {
  color: $dark-blue;
}


.select {
  position: relative;
  display: inline-block;
  width: 100%;

  select {
    border-radius: 0;
    border: 1px solid rgba($black, .2);
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 36px;
    width: 100%;
    
  }

  &:after {
    content: "keyboard_arrow_down";
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 5px;
    color: rgba($black, .4);
    @extend .u-material-icons;
  }
}



















